<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Shopping List App</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div id="shopping-list">
      <div class="header">
        <h1>{{ header.toLocaleUpperCase() }}</h1>
        <button
            v-if="state === 'default'"
            @click="changeState('edit')"
            class="btn btn-primary">
          Add item
        </button>
        <button
          v-else
          @click="changeState('default')"
          class="btn btn-primary">Cancel</button>
      </div>
      <div v-if="state === 'edit'" class="add-item-form">
        <input v-model="newItem" type="text" placeholder="Add a new item" @keyup.enter="saveItem">
        <button class="btn btn-primary" :disabled="newItem.length === 0" @click="saveItem">Save item</button>
      </div>
      <ul>
        <li v-for="item in items" :class="{strikeout: item.purchased}" @click="togglePurchase(item)">{{ item.label }}</li>
      </ul>
      <p v-if="items.length === 0">Nice job! You have bough all your items</p>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="main.js"></script>
  </body>
</html>
